/* Custom color theme properties */
:root {
  --f7-theme-color: #733833;
  --f7-theme-color-rgb: 115, 56, 51;
  --f7-theme-color-shade: #572a26;
  --f7-theme-color-tint: #8f4640;
}

/* Your app custom styles here */
@import 'normalize.styl'
@import 'webflow.styl'
@import 'encinos.styl'